body {
  text-align: center;
  background-color: #61aafd;
}
h1 {
font-family: 'Indie Flower', cursive;
color: #19d8ca;
}
h2 {
font-family: 'Raleway', sans-serif;
Color: #f9b45f;
}
h4 {
font-family: 'Raleway', sans-serif;
Color: #ff0cb8;
}
h5 {
font-family: 'Raleway Dots', sans-serif;
Color: #ffc4ee;
}
p {
font-family: 'Raleway', sans-serif;
}

nav li{

     display: inline-block;

}
button {
  background-color: #8900ff;
  border-color: #6afffb;
  color: #ffbebe;
}

