body {
  text-align: center;
  background-color: #61aafd;
}
h1 {
font-family: 'Indie Flower', cursive;
color: #19d8ca;
}
h2 {
font-family: 'Raleway', sans-serif;
Color: #f9b45f;
}
h4 {
font-family: 'Raleway', sans-serif;
Color: #ff0cb8;
}
h5 {
font-family: 'Raleway Dots', sans-serif;
Color: #ffc4ee;
}
p {
font-family: 'Raleway', sans-serif;
}
nav{
  background-color: #569bea; 
}
.nav li{
  display: inline-block;
  color: #ff597b;
  font-family: 'handlee', cursive;
  border: 10px solid #f003ff;
  padding: 15px 30px;
}
button {
  background-color: #8900ff;
  border-color: #6afffb;
  color: #ffbebe;
}
button.Hello {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
